@import 'tailwindcss';
@import '@nuxt/ui';

@layer base {
  body {
    @apply bg-neutral-50 dark:bg-neutral-950;
  }
}

:root {
  --ui-container: var(--container-3xl);
}

/*
Set the default cursor for buttons.
*/
button,
[role='button'] {
  cursor: pointer;
}
/*
Make sure disabled buttons don't get the pointer cursor.
*/
:disabled {
  cursor: default;
}
